*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

cdk.json

/lib/backend/lambda/python/libraries/data_process/python/lib/python3.12/site-packages/*
/lib/backend/lambda/python/data_process_lambda_layer.zip
/lib/backend/lambda/python/libraries/db_process/python/lib/python3.12/site-packages/*
/lib/backend/lambda/python/db_process_lambda_layer.zip
